
.App{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: var(--dark-primary-color);
    color: var(--text-icons-color);
    width: 100vw;
    text-align: center;
    box-shadow: 0px 2px 5px 2px #AAA;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
}

h1{
    font-size: 2rem;
    text-align: center;
}
.empty-category{
    width: 100%;
    margin: 1rem auto;
    border: 1px solid var(--dark-primary-color);
    border-left: 0.8rem solid var(--dark-primary-color);
    box-shadow: 2px 5px 3px 0px #AAA;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;

}
.todos{
    width: 95%;
    margin: auto;
    text-align: center;
    flex-grow: 1;
 
}
.delete{
    text-align: center;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--dark-primary-color);
    color: var(--text-icons-color);
    cursor: pointer;
    margin: auto;
    margin-bottom: 1rem;
    max-width: fit-content;
}
.delete:hover{
   opacity: 0.9;
}
.--show{
    display: block;

}
.--hide{
    display: none;
}
@media  only screen and (min-width: 768px) {
    .App{
       flex-flow: row wrap;
       justify-content: space-evenly;
       align-items: center;
    }
    .header{
        order: 1;
    }
    .todos{
        width: 100%;
        order: 4;
    }
    .delete{
        order: 5;
    }
    
}