.filter{
    padding: 1rem;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: var(--primary-text);
}
.filter__label{
    flex-basis: 10%;
    color: inherit;
}
.filter__select{
    padding: 0.2rem;
    flex-basis: 80%;
    color: var(--text-icons-color);
    border-radius: 0.2rem;
    border: var(--dark-primary-color);
    background-color: var(--accent-color);
    text-align: center;
    outline: var(--dark-primary-color);
    box-shadow: 0px 2px 5px 2px var(--divider-color);
    cursor: pointer;
}
.filter__option{
    text-align: center;
    cursor: pointer;
}

.filter__select:focus{
    outline: var(--dark-primary-color);
}
/*For large devices*/
@media only screen and (min-width:768px){
    .filter{
        padding: 0;
        width: 30%;
        height: 20vh;
        order: 3;
    }
}