.form-todo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.form-todo__text{
    padding: 0.4rem;
    outline: none;
    border: 1px solid var(--light-primary-color);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px 2px #AAA;
    color: var(--primary-text)
}
.form-todo__text:focus{
    background-color: var(--light-primary-color);
    border-color: var(--dark-primary-color);
}
.form-todo--text::placeholder{
    color: var(--secondary-text);
}
.form-todo__submit{
    width: 2rem;
    height: 2rem;
    box-shadow: 0px 2px 5px 2px #AAA;
    border-radius: 50%;
    border: none;
    color: transparent;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--dark-primary-color);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, rotate 0.5s ease-in-out;
    padding: 0.1rem;
}
.edit{
    background-image: url("../../public/assets/edit.svg");
}
.add{
    background-image: url("../../public/assets/add.svg");
}
.form-todo__submit:hover{
    transform: scale(1.1) rotateZ(360deg);
}