:root{
  --primary-color: #3F51B5;
  --dark-primary-color:#212b6c;
  --light-primary-color: #e1eafb;
  --text-icons-color: #FFFFFF;
  --accent-color: #448AFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #AAA;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}
body{
  overflow-x: hidden;
}
/*For large devices*/
@media only screen and (min-width: 768px){
  *{
    font-size: 1.3rem;
  }
}


