.todo{
    margin: 1rem auto;
    padding: 0.3rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--divider-color);
    border-left: 0.8rem solid var(--dark-primary-color);
    border-radius: 0.5rem;
    box-shadow: 2px 5px 3px 0px var(--divider-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.todo:hover{
    transform: translateY(-0.2rem);
}

.todo__name{
    margin-right: 0.1rem;
    display: block;
    flex-basis: 68%;
    color: var(--primary-text);
    text-align: justify;
    overflow-x: hidden;
}
.todo__button{
    margin-right: 0.1rem;
    min-width: 1.8rem;
    min-height: 1.8rem;
    display: block;
    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 2px var(--divider-color);
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--dark-primary-color);
}
.todo__button:hover{
    transform: scale(1.1);
}
/*BEM modifiers*/
.--checkbox{
    background-image: url("../../public/assets/check.svg");
}
.--edit{
    background-image: url("../../public/assets/edit.svg");
}
.--delete{
    background-image: url("../../public/assets/delete.svg");
}
.--able{
opacity: 1;
}
.--disable{
    opacity: 0.6;
}
.--hide{
    display: none;
}
.--show{
    display: flex;
}
.--done{
    color: var(--secondary-text);
    text-decoration: line-through;
    opacity: 0.7;
}
.--undone{
    color: var(--primary-text);
    text-decoration: none;
    opacity: 1;
}
/*For large devices*/
@media only screen and (min-width:768px){
    .todo{
        padding: 0.8rem;
        width: 70%;
    }
    .todo__name{
        flex-basis: 80%;
    }
}