
.App{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;   
}
.header{
    margin: auto;
    margin-top: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-icons-color);
    background-color: var(--dark-primary-color);
    box-shadow: 0px 2px 5px 2px var(--divider-color);
    text-align: center;
}

h1{
    font-size: 2rem;
    text-align: center;
}
.empty-category{
    margin: 1rem auto;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid var(--divider-color);
    border-left: 0.8rem solid var(--dark-primary-color);
    border-radius: 0.5rem;
    box-shadow: 2px 5px 3px 0px var(--divider-color);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.empty-category:hover{
    transform: translateY(-0.2rem);
}
.todos{
    margin: auto;
    width: 95%;
    min-height: 30vh;
    flex-grow: 1;
    text-align: center;
}

.delete{
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.4rem;
    max-width: fit-content;
    color: var(--text-icons-color);
    background-color: var(--dark-primary-color);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}
.delete:hover{
   opacity: 0.9;
}
/*BEM modifiers*/
.--visible{
    visibility: visible;

}
.--hiden{
    visibility: hidden;
}
/*For large devices*/
@media  only screen and (min-width: 768px) {
    .App{
       flex-flow: row wrap;
       justify-content: space-around;
       align-items: center;
       align-content: center;
    }
    .header{
        height: 20vh;
        order: 1;
    }
    .todos{
        width: 100%;
        min-height: 50vh;
        order: 4;    
    }
    .delete{
        order: 5;
    }
    .empty-category{
        width: 70%;
        padding: 0.8rem;
    }
    
}